body {
	margin: 0;
	padding: 0;
}

.logo {
	color: #eee;
}

.container {
	width: 90%;
	margin: 10px auto;
}

.nav-adjustment {
	margin: 75px auto;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}